In [3]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [30]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv('Churn_Modelling.csv')

In [5]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [9]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [10]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [11]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)

In [12]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [13]:
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [14]:
df = df.astype(int)

In [15]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0,1,1,1,101348,1,0,0,0
1,608,41,1,83807,1,0,1,112542,0,0,1,0
2,502,42,8,159660,3,1,0,113931,1,0,0,0
3,699,39,1,0,2,0,0,93826,0,0,0,0
4,850,43,2,125510,1,1,1,79084,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0,2,1,0,96270,0,0,0,1
9996,516,35,10,57369,1,1,1,101699,0,0,0,1
9997,709,36,7,0,1,0,1,42085,1,0,0,0
9998,772,42,3,75075,2,1,0,92888,1,1,0,1
9999,792,28,4,130142,1,1,0,38190,0,0,0,0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Age                10000 non-null  int64
 2   Tenure             10000 non-null  int64
 3   Balance            10000 non-null  int64
 4   NumOfProducts      10000 non-null  int64
 5   HasCrCard          10000 non-null  int64
 6   IsActiveMember     10000 non-null  int64
 7   EstimatedSalary    10000 non-null  int64
 8   Exited             10000 non-null  int64
 9   Geography_Germany  10000 non-null  int64
 10  Geography_Spain    10000 non-null  int64
 11  Gender_Male        10000 non-null  int64
dtypes: int64(12)
memory usage: 937.6 KB

In [17]:
X = df.drop(columns=['Exited'])
y = df['Exited']

In [18]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0,1,1,1,101348,0,0,0
1,608,41,1,83807,1,0,1,112542,0,1,0
2,502,42,8,159660,3,1,0,113931,0,0,0
3,699,39,1,0,2,0,0,93826,0,0,0
4,850,43,2,125510,1,1,1,79084,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0,2,1,0,96270,0,0,1
9996,516,35,10,57369,1,1,1,101699,0,0,1
9997,709,36,7,0,1,0,1,42085,0,0,0
9998,772,42,3,75075,2,1,0,92888,1,0,1
9999,792,28,4,130142,1,1,0,38190,0,0,0

In [19]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=1)

In [21]:
X_train.shape

(8000, 11)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [24]:
X_train_scaled

array([[-0.23082038, -0.94449979, -0.70174202, ...,  1.71490137,
        -0.57273139,  0.91509065],
       [-0.25150912, -0.94449979, -0.35520275, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [-0.3963303 ,  0.77498705,  0.33787579, ...,  1.71490137,
        -0.57273139, -1.09278791],
       ...,
       [ 0.22433188,  0.58393295,  1.3774936 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 0.13123255,  0.01077067,  1.03095433, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 1.1656695 ,  0.29735181,  0.33787579, ...,  1.71490137,
        -0.57273139,  0.91509065]], shape=(8000, 11))

In [25]:
X_test_scaled

array([[-1.05008411,  0.75175306, -1.01618321, ..., -0.56118125,
        -0.57812007,  0.90179633],
       [ 0.29631699, -0.47907689, -0.67334137, ..., -0.56118125,
        -0.57812007,  0.90179633],
       [-1.24686581,  0.27835693, -1.01618321, ..., -0.56118125,
        -0.57812007, -1.10889783],
       ...,
       [-0.87401628, -0.47907689,  1.72655149, ..., -0.56118125,
         1.72974448,  0.90179633],
       [-0.31474197, -0.85779379, -1.01618321, ...,  1.78195548,
        -0.57812007, -1.10889783],
       [ 0.0373937 ,  1.22514919,  1.38370966, ...,  1.78195548,
        -0.57812007,  0.90179633]], shape=(2000, 11))

In [27]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [28]:
model = Sequential()

In [58]:
model.add(Dense(11,activation='relu',input_dim = 11))
model.add(Dense(11, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [59]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 3)              │            36 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 3)              │            12 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 3)              │            12 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │             4 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 11)             │            22 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 11)             │           132 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_6 (Dense)                 │ (None, 1)              │            12 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 360 (1.41 KB)

 Trainable params: 230 (920.00 B)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 130 (524.00 B)

In [60]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [61]:
X_train_scaled

array([[-0.23082038, -0.94449979, -0.70174202, ...,  1.71490137,
        -0.57273139,  0.91509065],
       [-0.25150912, -0.94449979, -0.35520275, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [-0.3963303 ,  0.77498705,  0.33787579, ...,  1.71490137,
        -0.57273139, -1.09278791],
       ...,
       [ 0.22433188,  0.58393295,  1.3774936 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 0.13123255,  0.01077067,  1.03095433, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 1.1656695 ,  0.29735181,  0.33787579, ...,  1.71490137,
        -0.57273139,  0.91509065]], shape=(8000, 11))

In [62]:
model.fit(X_train_scaled,y_train,epochs=100, verbose=2)

Epoch 1/100
250/250 - 8s - 33ms/step - loss: 0.5873
Epoch 2/100
250/250 - 2s - 6ms/step - loss: 0.3983
Epoch 3/100
250/250 - 3s - 10ms/step - loss: 0.3573
Epoch 4/100
250/250 - 3s - 11ms/step - loss: 0.3522
Epoch 5/100
250/250 - 3s - 10ms/step - loss: 0.3506
Epoch 6/100
250/250 - 3s - 12ms/step - loss: 0.3487
Epoch 7/100
250/250 - 2s - 6ms/step - loss: 0.3489
Epoch 8/100
250/250 - 2s - 6ms/step - loss: 0.3481
Epoch 9/100
250/250 - 2s - 7ms/step - loss: 0.3478
Epoch 10/100
250/250 - 2s - 7ms/step - loss: 0.3470
Epoch 11/100
250/250 - 2s - 10ms/step - loss: 0.3465
Epoch 12/100
250/250 - 3s - 11ms/step - loss: 0.3469
Epoch 13/100
250/250 - 3s - 10ms/step - loss: 0.3467
Epoch 14/100
250/250 - 3s - 12ms/step - loss: 0.3454
Epoch 15/100
250/250 - 3s - 10ms/step - loss: 0.3461
Epoch 16/100
250/250 - 2s - 7ms/step - loss: 0.3456
Epoch 17/100
250/250 - 3s - 12ms/step - loss: 0.3459
Epoch 18/100
250/250 - 3s - 12ms/step - loss: 0.3451
Epoch 19/100
250/250 - 2s - 8ms/step - loss: 0.3452
Epoch 20/100
250/250 - 3s - 10ms/step - loss: 0.3446
Epoch 21/100
250/250 - 2s - 7ms/step - loss: 0.3453
Epoch 22/100
250/250 - 3s - 11ms/step - loss: 0.3449
Epoch 23/100
250/250 - 3s - 11ms/step - loss: 0.3441
Epoch 24/100
250/250 - 2s - 7ms/step - loss: 0.3442
Epoch 25/100
250/250 - 2s - 6ms/step - loss: 0.3447
Epoch 26/100
250/250 - 3s - 11ms/step - loss: 0.3444
Epoch 27/100
250/250 - 2s - 7ms/step - loss: 0.3444
Epoch 28/100
250/250 - 2s - 7ms/step - loss: 0.3442
Epoch 29/100
250/250 - 3s - 10ms/step - loss: 0.3446
Epoch 30/100
250/250 - 2s - 6ms/step - loss: 0.3439
Epoch 31/100
250/250 - 3s - 11ms/step - loss: 0.3444
Epoch 32/100
250/250 - 3s - 12ms/step - loss: 0.3436
Epoch 33/100
250/250 - 2s - 8ms/step - loss: 0.3436
Epoch 34/100
250/250 - 3s - 10ms/step - loss: 0.3435
Epoch 35/100
250/250 - 1s - 6ms/step - loss: 0.3447
Epoch 36/100
250/250 - 3s - 11ms/step - loss: 0.3439
Epoch 37/100
250/250 - 1s - 5ms/step - loss: 0.3434
Epoch 38/100
250/250 - 1s - 6ms/step - loss: 0.3436
Epoch 39/100
250/250 - 3s - 10ms/step - loss: 0.3437
Epoch 40/100
250/250 - 1s - 6ms/step - loss: 0.3432
Epoch 41/100
250/250 - 1s - 5ms/step - loss: 0.3434
Epoch 42/100
250/250 - 1s - 6ms/step - loss: 0.3436
Epoch 43/100
250/250 - 1s - 5ms/step - loss: 0.3435
Epoch 44/100
250/250 - 3s - 11ms/step - loss: 0.3438
Epoch 45/100
250/250 - 1s - 6ms/step - loss: 0.3436
Epoch 46/100
250/250 - 1s - 5ms/step - loss: 0.3432
Epoch 47/100
250/250 - 3s - 11ms/step - loss: 0.3429
Epoch 48/100
250/250 - 1s - 5ms/step - loss: 0.3427
Epoch 49/100
250/250 - 1s - 6ms/step - loss: 0.3430
Epoch 50/100
250/250 - 3s - 10ms/step - loss: 0.3429
Epoch 51/100
250/250 - 1s - 5ms/step - loss: 0.3430
Epoch 52/100
250/250 - 3s - 11ms/step - loss: 0.3437
Epoch 53/100
250/250 - 1s - 6ms/step - loss: 0.3430
Epoch 54/100
250/250 - 3s - 10ms/step - loss: 0.3437
Epoch 55/100
250/250 - 2s - 6ms/step - loss: 0.3432
Epoch 56/100
250/250 - 3s - 10ms/step - loss: 0.3434
Epoch 57/100
250/250 - 3s - 11ms/step - loss: 0.3430
Epoch 58/100
250/250 - 3s - 10ms/step - loss: 0.3430
Epoch 59/100
250/250 - 3s - 11ms/step - loss: 0.3424
Epoch 60/100
250/250 - 1s - 6ms/step - loss: 0.3423
Epoch 61/100
250/250 - 3s - 11ms/step - loss: 0.3430
Epoch 62/100
250/250 - 3s - 11ms/step - loss: 0.3426
Epoch 63/100
250/250 - 1s - 6ms/step - loss: 0.3426
Epoch 64/100
250/250 - 2s - 6ms/step - loss: 0.3426
Epoch 65/100
250/250 - 2s - 9ms/step - loss: 0.3429
Epoch 66/100
250/250 - 1s - 6ms/step - loss: 0.3420
Epoch 67/100
250/250 - 3s - 10ms/step - loss: 0.3423
Epoch 68/100
250/250 - 3s - 11ms/step - loss: 0.3424
Epoch 69/100
250/250 - 1s - 6ms/step - loss: 0.3423
Epoch 70/100
250/250 - 1s - 6ms/step - loss: 0.3427
Epoch 71/100
250/250 - 1s - 6ms/step - loss: 0.3421
Epoch 72/100
250/250 - 1s - 5ms/step - loss: 0.3421
Epoch 73/100
250/250 - 2s - 6ms/step - loss: 0.3420
Epoch 74/100
250/250 - 1s - 6ms/step - loss: 0.3421
Epoch 75/100
250/250 - 1s - 6ms/step - loss: 0.3426
Epoch 76/100
250/250 - 3s - 11ms/step - loss: 0.3422
Epoch 77/100
250/250 - 3s - 10ms/step - loss: 0.3418
Epoch 78/100
250/250 - 3s - 11ms/step - loss: 0.3415
Epoch 79/100
250/250 - 1s - 6ms/step - loss: 0.3412
Epoch 80/100
250/250 - 1s - 6ms/step - loss: 0.3421
Epoch 81/100
250/250 - 1s - 6ms/step - loss: 0.3432
Epoch 82/100
250/250 - 1s - 6ms/step - loss: 0.3414
Epoch 83/100
250/250 - 1s - 6ms/step - loss: 0.3419
Epoch 84/100
250/250 - 3s - 11ms/step - loss: 0.3430
Epoch 85/100
250/250 - 2s - 10ms/step - loss: 0.3416
Epoch 86/100
250/250 - 2s - 6ms/step - loss: 0.3422
Epoch 87/100
250/250 - 2s - 9ms/step - loss: 0.3422
Epoch 88/100
250/250 - 1s - 5ms/step - loss: 0.3418
Epoch 89/100
250/250 - 1s - 5ms/step - loss: 0.3423
Epoch 90/100
250/250 - 1s - 6ms/step - loss: 0.3415
Epoch 91/100
250/250 - 3s - 10ms/step - loss: 0.3421
Epoch 92/100
250/250 - 3s - 11ms/step - loss: 0.3420
Epoch 93/100
250/250 - 3s - 11ms/step - loss: 0.3421
Epoch 94/100
250/250 - 3s - 10ms/step - loss: 0.3415
Epoch 95/100
250/250 - 1s - 5ms/step - loss: 0.3418
Epoch 96/100
250/250 - 1s - 5ms/step - loss: 0.3417
Epoch 97/100
250/250 - 3s - 11ms/step - loss: 0.3414
Epoch 98/100
250/250 - 3s - 11ms/step - loss: 0.3415
Epoch 99/100
250/250 - 3s - 11ms/step - loss: 0.3418
Epoch 100/100
250/250 - 1s - 5ms/step - loss: 0.3425

In [63]:
model.layers[0].get_weights()

[array([[-0.10212499, -0.01349171,  0.04468095],
        [ 1.8365941 ,  0.10450711, -0.49960294],
        [ 0.08792019,  0.04580652, -0.06782366],
        [ 0.05205272, -0.37961587, -0.35823596],
        [ 0.3555521 , -1.0975474 , -2.5692856 ],
        [ 0.06632007, -0.01338297, -0.07012144],
        [ 0.67024153,  0.5109332 , -0.4855462 ],
        [ 0.09702829,  0.03080669, -0.02951794],
        [-0.1187787 , -0.02704193,  0.3290921 ],
        [-0.04077134, -0.14157072, -0.04783927],
        [ 0.02265914,  0.15242955, -0.04793943]], dtype=float32),
 array([-0.11565119,  1.6943665 , -1.6834831 ], dtype=float32)]

In [64]:
y_log = model.predict(X_test_scaled)

63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step

In [65]:
y_pred = np.where(y_log> 0.5, 1,0)

In [66]:
from sklearn.metrics import accuracy_score

In [68]:
accuracy_score(y_test,y_pred)

0.864